In [31]:
import pandas as pd
import numpy as np

In [32]:
df = pd.read_csv("../../LetsGoToTheMovies/dataset/raw/IMDB-Movie-Data.csv")

In [33]:
df.isna().sum()

Rank                    0
Title                   0
Genre                   0
Description             0
Director                0
Actors                  0
Year                    0
Runtime (Minutes)       0
Rating                  0
Votes                   0
Revenue (Millions)    128
Metascore              64
dtype: int64

In [34]:
df.shape

(1000, 12)

In [35]:
clean_df = df.dropna()

In [36]:
clean_df.isna().sum()

Rank                  0
Title                 0
Genre                 0
Description           0
Director              0
Actors                0
Year                  0
Runtime (Minutes)     0
Rating                0
Votes                 0
Revenue (Millions)    0
Metascore             0
dtype: int64

In [37]:
clean_df.shape

(838, 12)

In [39]:
selected = ["Title", "Genre", "Description", "Director", "Actors"]
new_clean_df = clean_df.drop(selected, axis = 1)
new_clean_df

,Rank,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,2014,121,8.1,757074,333.13,76.0
1,2,2012,124,7.0,485820,126.46,65.0
2,3,2016,117,7.3,157606,138.12,62.0
3,4,2016,108,7.2,60545,270.32,59.0
4,5,2016,123,6.2,393727,325.02,40.0
...,...,...,...,...,...,...,...
993,994,2010,97,5.9,140900,60.13,37.0
994,995,2012,88,6.7,164088,54.72,48.0
996,997,2007,94,5.5,73152,17.54,46.0
997,998,2008,98,6.2,70699,58.01,50.0
999,1000,2016,87,5.3,12435,19.64,11.0

In [ ]:
new_clean_df.isna().sum()

Rank                  0
Year                  0
Runtime (Minutes)     0
Rating                0
Votes                 0
Revenue (Millions)    0
Metascore             0
dtype: int64

In [ ]:
new_clean_df.to_csv("../../LetsGoToTheMovies/dataset/clean/IMDB-Movie-Data-cleaned.csv")